*
{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}



#background1
{
    width: 100%;
  
    display: grid;
    grid-template-columns: 90px 1fr 1fr;
    font-family: "Montserrat", sans-serif;
}

#menu{
    width: 90px;
    height: 100vh;
    width: 90px;
    left: 0;
    top: 0;
    box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
    position: sticky;
    
    
   
}

#btnmenu
{
    width: 100%;
    height: 90px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: #0f0f0f;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    position: relative;
    
}
#redessociais
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 100%;
   height: 100%;
}

svg
{
    margin-bottom: 50px;
}

#listrasbrancas
{
    height: 24px;
    width: 30px;
   border-top: #fff 4px solid;
   border-bottom: #fff 4px solid;
     display: flex;
    justify-content: center;
    align-items: center;
    
}

#listrasbrancas2
{
   
    width: 30px;
   border-top: #fff 4px solid;
   
}
#check1
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
opacity: 0;
cursor: pointer;
z-index: 999;
   
}

#aba
{
    position: fixed;
    width: 270px;
    height: 100vh;
    left: -280px;
    top: 0;
    box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    transition: 0.3s;
    
}

#check1:checked~#aba
{
   position: fixed; 
   left: 0;
}

#btnclose
{
   
    width: 90px;
    height: 90px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: #0f0f0f;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    position: relative;
}

#setaE
{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

#titulo
{
   
    background-color: #2916e0;
    width: 180px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#orgTITULO
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

#orgMID
{
    width: 100%;
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menupag
{
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #b2b2b2;
    text-decoration: none;
    margin-top: 4vh;
}

#menupag1
{
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #2916e0;
    text-decoration: none;
    margin-top: 4vh;
}

#redessociais2
{
  margin-top: 8vh;
  display: flex;
  justify-content: space-around;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 2vh;

}

.rd2
{
    fill: #b2b2b2;   
    margin: 0;
}

#txt1
{
    font-size: 15px;
    color: #636363;
    line-height: 1.8;
    
    text-align: center;
}

#coluna1
{
    background-color: #2916e0; 
    padding: 8vh 15px 0 15px;
    
}


#divimg1
{
    display: flex;
    justify-content: center;
    width: 100%;
}
#imgabout
{
    border-radius: 50%; 
}

#txtAbout
{
    color: #fff;
    margin: 7vh 8vw 0 7vw;
   
}

#txtAbout1
{
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    padding-top: 20px;
    margin-bottom: 30px;
}

#txtAbout2
{
    font-size: 15px;
    color: #fff;
    line-height: 1.8;
    padding-top: 20px;
    margin-bottom: 30px;
}

#btnAbout1
{
    display: inline-block;
    min-width: 160px;
    padding: 9px 10px;
    margin-bottom: 10px;
    margin-right: 28px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

#gmailAbout
{
    display: inline-block;
    font-style: italic;
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
}

#coluna2
{
    background-color: #fff; 
    padding: 0vh 15px 0 15px; 
}

#divtxtcol2
{
    max-width: 810px;
    margin: 0 auto;
    padding:40px 0 50px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

#txtcoluna2
{
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 3px solid #2916e0;
    margin-bottom: 20px;
    color: #252525;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 35px;   
}

.txtAbout3
{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 9px;
    color: #636363;
    font-family: "Montserrat", sans-serif;
}

#Skills
{
    
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
}

.divSkils
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circulo
{
     
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
    border: #2916e0 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}